@model EmployeeDepartmentProject.Models.Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<form method="post" asp-action="Delete">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Catagory</h2>
            <div class="text-danger" asp-validation-summary="All">    </div>
            @*            <label asp-for="CatagoryName"></label>
            *@            <hr />

        </div>
        <div class="mb-3">
            <label asp-for="EmployeeId"></label>
            <input asp-for="EmployeeId" disabled class="form-control" />
            @*<span asp-validation-for="CatagoryName" class="text-danger"></span>*@
            @*@Html.ValidationMessageFor(m=>m.CatagoryName,"CatagoryName cannot be more than 20 character")*@
        </div>
        <div class="mb-3">
            <label asp-for="EmployeeName"></label>
            <input asp-for="EmployeeName" disabled class="form-control" />
            @*<span asp-validation-for="DisplayOrder" class="text-danger"></span>*@
        </div>
        <div class="mb-3">
            <label asp-for="EmployeeSalary"></label>
            <input asp-for="EmployeeSalary" disabled class="form-control" />
            @*<span asp-validation-for="DisplayOrder" class="text-danger"></span>*@
        </div>
        <button type="submit" class="btn btn-outline-danger" style="width:120px">Delete</button>
        <a asp-controller="Department" asp-action="Index" class="btn btn-secondary" style="width:120px">Back</a>
    </div>

</form>